/* CSS declarations go here */
body {
    background-color:#ffda76;
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.jumbotron {
    background-color:#e8d7c9;
    border: 2px solid #ae7bff;
    margin-top: 20px;
}

.container {
    margin-bottom: 20px;
}

td {
    border-top-color:#e88ce0 !important;
}

.recipeimage {
    border: 1px solid black;
    max-height:200px;
    max-width:200px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.pulsating_ring {
    border: 3px solid red;
    -webkit-border-radius: 30px;
    height: 50px;
    width: 50px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0;
    margin-left: auto;
    margin-right: auto;
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}
