/* CSS declarations go here */
body{
    background-color:#ffda76;
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}
.jumbotron{
    background-color:#e8d7c9;
    border: 2px solid #ae7bff;
}
td {
    border-top-color:#e88ce0 !important;
}
img{
    border: 1px solid black;
}

.container img {
    max-height:200px;
    max-width:200px;
}